[run]
source =
    apps
    core
omit =
    */migrations/*
    */tests/*
    */asgi.py
    */wsgi.py
    */management/commands/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
